/**
 * Theme Name: Twenty Child
 * Template: twentytwenty
 * Version: 1.0.0
  * Author Alessandro Giuzio
 *
 */
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.testimonial-meta {
  margin-top: 20px;
  padding: 10px;
  background: #e9ec;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.testimonial-name {
  font-weight: 500;
  color: red;
  margin-right: 10px;
  display: inline-block;
}
.testimonial-company {
  font-weight: 500;
  color: blue;
  display: inline-block;
}
.testimonial-job {
  font-weight: 500;
  color: green;
  display: inline-block;
}
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
